{% extends 'cars/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="car_details col-md-6 mx-auto text-center p-2 bg-cars text-light">
  <h1>Car overview</h1>
  <h3>{{ car.model_name }} ({{ car.year }})</h3>
  <h5>Reg: {{ car.reg }}</h5>
  <h5>Owner: {{ car.owner }}<h5>
</div>

<div class="row">
  <div class="list-group col-xs-12 col-md-8 mt-3 car_specifics">
    <h3>Jobs</h3>
    {% if request.session.role == 'Manager' %}
    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobModal">
      Add job
    </a>
    {% endif %}
    {% for job in car.job_set.all %}
    <a href="{% url 'cars:job-details' job.id %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <h5 class="mb-1 d-inline">{{ job.title }}</h5>
          {% if job.complete %}
          <span class="badge rounded-pill bg-success">Complete</span>
          {% if job.paid %}
          <span class="badge rounded-pill bg-success">Paid</span>
          {% else %}
          <span class="badge rounded-pill bg-danger">Unpaid</span>
          {% endif %}
          {% elif job.in_progress %}
          <span class="badge rounded-pill bg-warning text-dark">In Progress</span>
          {% else %}
          <span class="badge rounded-pill bg-danger">Not Started</span>
          {% endif %}
        </div>
        <small>{{ job.created }}</small>
      </div>
      <p class="mb-1">{{ job.description|truncatewords:6 }}</p>
      <div class="d-flex w-100 justify-content-between">
        <small>Assigned to: {{ job.employee }}</small>
        {% if not job.complete %}
          <small>Expected by: {{ job.expected_complete }}</small>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="list-group col-xs-12 col-md-4 mt-3 car_specifics">
    <h3>Messages</h3>
    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#messageModal">
      New message
    </a>

    {% for message in message_list %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div>
          {% if message.job %}
          <h5><a href="{% url 'cars:job-details' message.job.id %}" class="mb-1 d-inline">{{ message.job }}</a></h5>
          {% else %}
          <h5 class="mb-1 d-inline">{{ message.subject }}</h5>
          {% endif %}
        </div>
        <small>{{ message.created }}</small>
      </div>
      <p class="mb-1">{{ message.body }}</p>
      {% if request.session.role == 'Manager' and not message.job %}
      <form action="{% url 'cars:assign-message-to-job' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="message_id" value="{{ message.id }}">
        <select name="job_id" id="job_id">
          <option name="job_id" value="" disabled selected>Assign to Job</option>
          {% for job in car.job_set.all %}
          <option name="job_id" value="{{ job.id }}">{{ job }}</option>
          {% endfor %}
        </select>
        <button class="btn-secondary btn-sm">Assign to Job</button>
      </form>

      {% endif %}
      <small>From: {{ message.sender }}</small>
      <div class="d-flex w-100 justify-content-between align-items-center">
        <small>To: {{ message.recipient }}</small>
        {% if message.unread %}
        <span class="badge rounded-pill bg-danger">Unread</span>
        {% else %}
        <span class="badge rounded-pill bg-success">Read</span>
        {% endif %}
      </div>
      {% if request.user == message.recipient and message.unread %}
      <form action="{% url 'cars:message-read' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="message_read">
        <input type="hidden" name="message_id" value="{{ message.id }}">
        <button class="btn-primary btn-sm">Mark as read.</button>
      </form>

      {% endif %}

    </div>
    {% endfor %}

  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobModalLabel">Add job</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="job-form" method="post">
          {% csrf_token %}
          {{ job_form|crispy }}
          <input type="hidden" name="form_type" value="job">
          <button type="submit" class="btn btn-success mt-2">Save</button>
          <button type="button" class="btn btn-danger mt-2" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'cars:send-message' %}" id="message-form" method="post">
          {% csrf_token %}
          {{ message_form|crispy }}
          <input type="hidden" name="form_type" value="message">
          <button type="submit" class="btn btn-success mt-2">Send</button>
          <button type="button" class="btn btn-danger mt-2" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}