{% extends 'cars/base.html' %}

{% block content %}
<div class="row home_options mx-auto">
    {% if request.session.role != 'Customer' %}
    <a href="{% url 'cars:job-list' %}" class="option-group mx-auto row">
        <div class="option col-xs-12 col-md-4 mx-auto bg-jobs">
            Jobs
        </div>
        <div class="description col-md-8 border-jobs">
            See all current and completed jobs.
        </div>
    </a>
    {% endif %}
    {% if request.session.role != 'Employee' %}
    <a href="{% url 'cars:car-list' %}" class="option-group mx-auto row">
        <div class="option col-xs-12 col-md-4 mx-auto bg-cars">
            Cars
        </div>
        <div class="description col-md-8 border-cars">
            See all cars.
        </div>
    </a>
    {% endif %}
    {% if request.session.role == 'Manager' %}
    <a href="{% url 'parts:parts-admin' %}" class="option-group mx-auto row">
        <div class="option col-xs-12 col-md-4 mx-auto bg-parts">
            Parts
        </div>
        <div class="description col-md-8 border-parts">
            Edit and manage parts. Respond to part request and manage part orders.
        </div>
    </a>
    {% endif %}
    {% if request.session.role == 'Customer' %}
    <a href="{% url 'cars:invoice-list' %}" class="option-group mx-auto row">
        <div href="{% url 'cars:invoice-list' %}" class="option col-xs-12 col-md-4 mx-auto bg-jobs">
            Invoices
        </div>
        <div class="description col-md-8 border-jobs">
            Settle invoices, and access receipts for paid invoices.
        </div>
    </a>
    {% endif %}
    <a href="{% url 'cars:message-list' %}" class="option-group mx-auto row">
        <div href="{% url 'cars:message-list' %}" class="option col-xs-12 col-md-4 mx-auto bg-messages">
            Messages
        </div>
        <div class="description col-md-8 border-messages">
            Read and write messages.
        </div>
    </a>
</div>

{% endblock content %}