{% extends 'cars/base.html' %}

{% block content %}
{% if request.session['role'] != 'Customer' %}
    <a href="{% url 'cars:job-list' %}" class="option">
        Jobs
    </a>
{% endif %}
{% if request.session['role'] != 'Employee' %}
    <a href="{% url 'cars:car-list' %}" class="option">
        Cars
    </a>
{% endif %}
{% if request.session['role'] == 'Manager' %}
    <a href="{% url 'parts:parts-admin' %}" class="option">
        Parts
    </a>
{% endif %}
{% if request.session['role'] == 'Customer' %}
    <a href="{% url 'cars:invoice-list' %}" class="option">
        Invoices
    </a>
{% endif %}
<a href="{% url 'cars:message-list' %}" class="option">
    Messages
</a>


{% endblock content %}