{% extends 'cars/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Car overview</h1>
<h3>{{ car.model_name }}</h3>
<h4>{{ car.year }}</h4>


<div class="list-group">
  {% for job in car.job_set.all %}
  <a href="{% url 'cars:job-details' job.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h5 class="mb-1 d-inline">{{ job.title }}</h5>
        {% if job.complete %}
        <span class="badge rounded-pill bg-success">Complete</span>
        {% elif job.in_progress %}
        <span class="badge rounded-pill bg-warning text-dark">In Progress</span>
        {% else %}
        <span class="badge rounded-pill bg-danger">Not Started</span>
        {% endif %}
      </div>
      <small>{{ job.created }}</small>
    </div>
    <p class="mb-1">{{ job.description|truncatewords:6 }}</p>
    <div class="d-flex w-100 justify-content-between">
      <small>Assigned to: {{ job.employee }}</small>
      <small>Expected by: {{ job.expected_complete }}</small>
    </div>
  </a>
  {% endfor %}
</div>

{% if role == 'Manager' %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add job
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add job</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" id="job-form" method="post">
          {% csrf_token %}
          {{ job_form|crispy }}
          <button type="submit" class="btn btn-info mt-2">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endif %}
{% endblock content %}