{% load cars_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ invoice.job.id }}</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px;
        }
        table {
            -pdf-keep-with-next: true; 
        }
    </style>
</head>
<body>
    <h1>Eastern Racing</h1>
    <hr>
    <h3>Invoice #{{ invoice.job.id }}</h3>
    <h2>To pay: £{{ invoice.grand_total|floatformat:2 }}</h2>
    <h4>Customer: <b>{{ invoice.job.car.owner }}</b></h4>
    <h4>Car: {{ invoice.job.car.model_name }} ({{ invoice.job.car.reg }})</h4>
    <h4>Job: {{ invoice.job.title }}</h4>
    <h4>Date: {{ invoice.created|date }}</h4>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Work completed</th>
                <th>Duration</th>
                <th>Hourly Rate</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for labour_unit in invoice.job.labourunit_set.all %}
            <tr>
                <td>{{ labour_unit.description }}</td>
                <td>{{ labour_unit.time_spent|duration }}</td>
                <td>£{{ labour_unit.hourly_rate }}/hour</td>
                <td>£{{ labour_unit.total_cost|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total Cost</td>
                <td>{{ invoice.time_spent|duration }}</td>
                <td>------</td>
                <td>£{{ invoice.labour_cost|floatformat:2 }}</td>
            </tr>
        </tfoot>
    </table>

    <br>

    <table>
        <thead>
            <tr>
                <th>Part</th>
                <th>Quantity</th>
                <th>Price Each</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for part_unit in invoice.job.partunit_set.all %}
            <tr>
                <td>{{ part_unit.part.name }}</td>
                <td>{{ part_unit.quantity }}</td>
                <td>£{{ part_unit.cost_each }}</td>
                <td>£{{ part_unit.total_cost|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total Cost</td>
                <td>------</td>
                <td>------</td>
                <td>£{{ invoice.parts_cost|floatformat:2 }}</td>
            </tr>
        </tfoot>
    </table>

    <br>

    <table>
    <tr>
        <td>Labour</td>
        <td>£{{ invoice.labour_cost|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Parts</td>
        <td>£{{ invoice.parts_cost|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Total (ex. VAT)</td>
        <td>£{{ invoice.sub_total|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>£{{ invoice.vat|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><b>Total (inc. VAT)</b></td>
        <td><b>£{{ invoice.grand_total|floatformat:2 }}</b></td>
    </tr>
    </table>

</body>
</html>