{% load cars_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ invoice.job.id }}</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px;
        }
        table {
            -pdf-keep-with-next: true; 
        }
    </style>
</head>
<body>
    <h1>Eastern Racing</h1>
    <hr>
    <h3>Receipt #{{ invoice.job.id }}</h3>
    <h1>PAID</h1>
    <h4>Customer: <b>{{ invoice.job.car.owner }}</b></h4>
    <h4>Car: {{ invoice.job.car.model_name }} ({{ invoice.job.car.reg }})</h4>
    <h4>Job: {{ invoice.job.title }}</h4>
    <h4>Date: {{ invoice.job.updated|date }}</h4>
    <hr>
    <table>
    <tr>
        <td>Labour</td>
        <td>£{{ invoice.labour_cost|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Parts</td>
        <td>£{{ invoice.parts_cost|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>Total (ex. VAT)</td>
        <td>£{{ invoice.sub_total|floatformat:2 }}</td>
    </tr>
    <tr>
        <td>VAT</td>
        <td>£{{ invoice.vat|floatformat:2 }}</td>
    </tr>
    <tr>
        <td><b>Total (inc. VAT)</b></td>
        <td><b>£{{ invoice.grand_total|floatformat:2 }}</b></td>
    </tr>
    </table>

    <h1>£{{ invoice.grand_total|floatformat:2 }} received with thanks.</h1>

</body>
</html>