.btn-demo {
  width: 100%;
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.btn-demo:hover {
  background-color: #FF0035;
}

.option {
  text-decoration: none;
  padding: 1.5rem 5rem;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 80vw;
  font-size: 3rem;
}

.description {
  border: 0.3rem solid;
  background-color: #282c34;
  color: #abb2bf;
  padding: 0.5rem 1rem;
}

.option-group {
  text-decoration: none;
  margin-bottom: 1rem;
}

.option-group:hover .option {
  text-decoration: none;
  background-color: #FF0035;
  color: black;
}

.option-group:hover .description {
  border-color: #FF0035;
}

.home_options {
  margin-top: 2rem;
}

.btn-login {
  align-self: right;
}

.btn-login:hover {
  background-color: #7d88b3;
}

.car_details {
  border: 2px solid black;
  margin-top: 1rem;
}

.car_specifics {
  padding-left: 0.75rem;
}

.order_quantity {
  width: 4rem;
}

.slider {
  font-family: 'Varela Round';
  text-align: center;
  border-top: 0.5px solid #bbbbbb;
  flex: 1 0 auto;
}

.slider_slide {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100%;
}

.slider_slide-digm {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/employee_request.jpg);
  background-position: center;
}

.slider_slide-webd {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/car_overview.jpg);
  background-position: center;
}

.slider_slide-cybs {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/invoice.jpg);
  background-position: center;
}

.slider_slide-it {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/parts_order.jpg);
  background-position: center;
}

.slider_slide-tele {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/tabletandphone.jpg);
  background-position: center;
}

.slider_slide-besp {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/invoicepdf.jpg);
  background-position: center;
}

.slider_img {
  max-height: 100%;
  object-fit: cover;
}

.slider_info {
  z-index: 500;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, white, transparent);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider_title {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  z-index: 2;
  font-size: 3rem;
  margin: 0;
}

.slider_text {
  font-size: 1.6rem;
  margin: 2rem auto;
}

.slider_btn {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .slider_title {
    font-size: 2.5rem;
    top: 25%;
  }
  .slider_text {
    font-size: 1.2rem;
  }
}

.wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

#items {
  width: 20000px;
  position: relative;
  top: 0;
  left: 0px;
  height: 100%;
}

#items.shifting {
  transition: left .4s ease-out;
}

.slide {
  width: 100vw;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background-size: cover;
}

.slider_controls {
  position: absolute;
  top: 94%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.slider_options {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  z-index: 2;
}

.slider_control {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 8px;
  background: #8B939C;
  opacity: 60%;
  border-radius: 50%;
  margin-top: -20px;
}

.slider_control:hover {
  cursor: pointer;
}

.active {
  opacity: 100%;
  position: relative;
  background: #59546C;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(ChevronLeft.png);
  left: -20px;
}

.next {
  background-image: url(ChevronRight-512.png);
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

body {
  background-color: #bbb;
}

#content {
  margin: 0 2rem 2rem 2rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  #content {
    margin: 0;
  }
}

.bg-cars {
  background-color: #59546C;
}

.bg-jobs {
  background-color: #8B939C;
}

.bg-parts {
  background-color: #38405F;
}

.bg-messages {
  background-color: #0E131F;
}

.bg-highlight {
  background-color: #FF0035;
}

.btn-disabled {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.border-cars {
  border-color: #59546C;
}

.border-jobs {
  border-color: #8B939C;
}

.border-parts {
  border-color: #38405F;
}

.border-messages {
  border-color: #0E131F;
}

.border-highlight {
  border-color: #FF0035;
}

.clickable:hover {
  cursor: pointer;
}

.option_buttons {
  border: 1px solid #bbb;
  padding: 0.5rem;
}

.option_buttons a, .option_buttons button {
  margin: 0.5rem;
}

.list-group {
  border: 1px solid #bbb;
}

.list-group-item, .list-group-item:hover {
  z-index: auto;
}

.card-footer {
  width: 100%;
}

.card-footer h4 {
  padding-top: 0.5rem;
}
/*# sourceMappingURL=main.css.map */